 
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" ng-controller="MenuController">
        <li>
            <a href="#">Fav</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <button class="btn btn-primary" ng-click="newPage()">
                New item
            </button>
        </li>
    </ul>

    @Html.Partial("_LoginPartial")
</div>
